/* 
Adjust frame wire to reflect webdesign 

/* importing google fonts https://developers.google.com/fonts/docs/getting_started  */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap')

body {
    padding: 0, 25px;
    font-family: 'Frank Ruhl Libre', serif;
  }

h1 {
    font-size: 30px;
    text-align: center;
    background-image:url("");
    background-size: 100vw 100vh;
}

h2 {
  font-size: 15px;
  margin: 40px 0;
  text-align: center;
  padding:5px 50px 0px 100px;;
}

h3 {
  font-size: 20px;
  margin: 40px 0;
  text-align: center;
  padding:25px 50px 0px 100px;;
}
.btn{
  

}
.input{
    width: auto;
}

#attraction-panel {
  display:none;
}